.shop-content {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin: auto;
  margin-top: 120px;
}
.cart-content {
  padding-top: 100px;
  background: rgba(255, 153, 0, 0.3);
  position: fixed;
  width: 384px;
  height: 100%;
  right: 0%;
}

@media screen and (max-width: 1200px) {
  .product-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-content {
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
  }
  .cart-content {
    width: 264px;
  }
}
